<div class="container mt-3">

    <h1>
        {{page_title}}
    </h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        Has guardado correctamente
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        Los datos no se han guardado.
    </div>

    <form class="col-md-6" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
            <small *ngIf="!name.valid && name.touched"  class="invalid-feedback d-block">
                El nombre no es válido
            </small>
        </div>
        <div class="form-group">
            <label for="surname">Apellido</label>
            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">
            <small *ngIf="!surname.valid && surname.touched"  class="invalid-feedback d-block">
                    El apellido no es válido
            </small>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched"  class="invalid-feedback d-block">
                El email no es válido
            </small>
        </div>

        <div class="form-group">
            <angular-file-uploader 
                [config]="afuConfig"
                [resetUpload]=resetVar
                (ApiResponse)="avatarUpload($event)">
            </angular-file-uploader>
        </div>

        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="userEditForm.invalid">
    </form>

</div>