<div class="col-md-12" *ngIf="!post">
    Cargando...
</div>

<div class="col-md-12 mt-3" *ngIf="post">
    <h3>{{post.title}}</h3>
    <hr>
    <p>{{post.category.name}} - {{post.user.name + ' ' + post.user.surname}}</p>
    <hr>

    <div class="post-image w-100" *ngIf = 'post.image'>
            <img src="{{url + 'post/image/' + post.image }}" class="w-100"/>
        </div>
        <div class="post-image w-100" *ngIf = '!post.image'>
                <img src="assets/default.jpg" class="w-100"/>
    </div>

    <p [innerHtml]="post.content"></p>
</div>


