<div class="container mt-3">

        <h1>
            {{page_title}}
        </h1>
    
        <p *ngIf="status != 'success'">Crea una nueva categoría para el blog</p>
        
        <div class="alert alert-success" *ngIf="status == 'success'">
            La categoría se ha creado correctamente.
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            La categoría no se ha guardado.
        </div>

        <form class="col-md-6" #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="category.name" required>
                    <small *ngIf="!name.valid && name.touched"  class="invalid-feedback d-block">
                        El nombre de la categoría no es válida
                    </small>
                </div>   
                <input type="submit" value="Guardar" class="btn btn-success" [disabled]="categoryForm.invalid">
        </form> 
    

</div>