<div class="container mt-1">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">NG Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngFor='let category of categories'>
          <a class="nav-link" href="#">{{category.name}}</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf='!identity'>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registrate</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf='identity && identity.name'>
        <li *ngIf = 'identity && identity.image'>
          <div class="avatar_mask">
            <img src="{{url + 'user/avatar/' + identity.image }}" class="avatar_nav"/>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{identity.name}} 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/crear-entrada']">Crear Entrada</a>
            <a class="dropdown-item" [routerLink]="['/crear-categoria']">Crear Categoría</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Mi Perfil</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Salir</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

