.avatar_edit{
    width: 80px;
    margin-bottom: 10px;
}
.avatar_mask{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    overflow: hidden;
}
.avatar_nav{
    height: 40px;
}
.post-image{
    height: 200px;
    overflow: hidden;
}
