<div class="loading" *ngIf="!posts">
    Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="posts">

    <h1>{{page_title}}</h1>

    <div class="card-columns">
        <article class="card w-100" *ngFor="let post of posts">
            <div class="card-header">
                <h3>
                    <a [routerLink]="['/entrada', post.id]">{{post.title}}</a>
                </h3>
            </div>
            <div class="card-body">
                <div class="post-image w-100" *ngIf = 'post.image'>
                    <img src="{{url + 'post/image/' + post.image }}" class="w-100"/>
                </div>
                <div class="post-image w-100" *ngIf = '!post.image'>
                        <img src="assets/default.jpg" class="w-100"/>
                </div>
                <div class="post-buttons mt-3">
                    <a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>
                    <a [routerLink]="['/inicio']" class="btn btn-warning mr-2">Editar</a>
                    <a [routerLink]="['/inicio']" class="btn btn-danger">Borrar</a>
                </div>
            </div>
            
        </article>

    </div>

</div>
