<div class="col-lg-3 float-left mt-3">
    <h4>Panel de usuario</h4>
    <hr>
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['listado']" role="tab" aria-controls="v-pills-home" aria-selected="true">Mis temas</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" [routerLink]="['crear']" role="tab" aria-controls="v-pills-messages" aria-selected="false">Crear temas</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" [routerLink]="['/ajustes']" role="tab" aria-controls="v-pills-settings" aria-selected="false">Ajustes</a>
    </div>
</div>

<div class="col-lg-9 float-left  mt-3">
    <router-outlet></router-outlet>
</div>