<h4>{{page_title}}</h4>

<table class="table table-hover">
    <thead class="thead-default">
        <tr>
            <th>Título</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let topic of topics">
            <td>{{topic.title}}</td>
            <td>{{topic.date | amLocale: 'es' | amDateFormat:'LL' }}</td>
            <td>
                <a href="#" [routerLink]="['/panel/editar/', topic._id]" class="btn btn-sm btn-warning mr-2">Editar</a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" [attr.data-target]="'#modal'+topic._id">
                    Borrar
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="{{ 'modal'+topic._id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">¿Está seguro de querer borra este tema?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            Usted está intentando eliminar el tema "{{topic.title}}"
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" (click)="deleteTopic(topic._id)" data-dismiss="modal" class="btn btn-danger">Borrar</button>
                        </div>
                    </div>
                    </div>
                </div>

            </td>
        </tr>
    </tbody>
</table>


