<div class="container mt-3">

    <h1>
        {{page_title}}
    </h1>

    <p *ngIf="status != 'success'">Regístrate en nuestra plataforma para crear nuevas entradas y mucho mas</p>
    <div class="alert alert-success" *ngIf="status == 'success'">
        El registro se ha completado exitosamente. <a [routerLink]="['/login']">Logueate aquí</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        El registro no se ha completado, vuelve a intentarlo.
    </div>

    <form class="col-md-6" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" class="form-control" #name="ngModel" [(ngModel)]="user.name" required pattern="[a-zA-Z]+">
            <small *ngIf="!name.valid && name.touched"  class="invalid-feedback d-block">
                El nombre no es válido
            </small>
        </div>
        <div class="form-group">
            <label for="surname">Apellido</label>
            <input type="text" name="surname" class="form-control" #surname="ngModel" [(ngModel)]="user.surname" required pattern="[a-zA-Z]+">
            <small *ngIf="!surname.valid && surname.touched"  class="invalid-feedback d-block">
                    El apellido no es válido
            </small>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched"  class="invalid-feedback d-block">
                El email no es válido
            </small>
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required>
            <small *ngIf="!password.valid && password.touched"  class="invalid-feedback d-block">
                    La contraseña no es válida
            </small>
        </div>
        <input type="submit" value="Registrarme" class="btn btn-success" [disabled]="registerForm.invalid">
    </form>

</div>