<div class="container mt-3">

    <h1 class="mt-3">{{page_title}}</h1>

    <div class="alert alert-success" *ngIf="status == 'success'">
        El registro se ha completado exitosamente. <a [routerLink]="['/login']">Logueate aquí</a>
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        El registro no se ha completado, vuelve a intentarlo.
    </div>

    <form class="col-md-3" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" class="form-control" #email="ngModel" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <small *ngIf="!email.valid && email.touched"  class="invalid-feedback d-block">
                        El email no es válido
                    </small>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" name="password" class="form-control" #password="ngModel" [(ngModel)]="user.password" required>
                <small *ngIf="!password.valid && password.touched"  class="invalid-feedback d-block">
                    La contraseña no es válida
                </small>
            </div>
            <input type="submit" value="Ingresar" class="btn btn-success" [disabled]="loginForm.invalid">
    </form>

</div>