<div class="col-lg-10">
        <h4>{{page_title}}</h4>
        <hr>

        <div class="alert alert-success" *ngIf="status == 'success' && !is_edit">
                El registro se ha completado exitosamente. 
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error' && !is_edit">
                El registro no se ha completado, vuelve a intentarlo.
        </div>

        <div class="alert alert-success" *ngIf="status == 'success' && is_edit">
                El tema se ha modificado exitosamente. 
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error' && is_edit">
                El tema no se ha modificado, vuelve a intentarlo.
        </div>
            
        <form class="col-lg-12" #addTopic="ngForm" (ngSubmit)="onSubmit(addTopic)">

            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="topic.title" required>
                <small *ngIf="!title.valid && title.touched"  class="invalid-feedback d-block">
                    El título no es válido
                </small>
            </div>

            <div class="form-group">
                <label for="content">Contenido</label>
                <textarea name="content" class="form-control" #content="ngModel" [(ngModel)]="topic.content" required></textarea>
                <small *ngIf="!content.valid && content.touched"  class="invalid-feedback d-block">
                    El contenido no es válido
                </small>
            </div>

            <div class="form-group">
                <label for="code">Pon tu código</label>
                <textarea name="code" class="form-control" #code="ngModel" [(ngModel)]="topic.code" required></textarea>
                <small *ngIf="!code.valid && code.touched"  class="invalid-feedback d-block">
                    El código no es válido
                </small>
            </div>

            <div class="form-group">
                <label for="lang">Sobre que lenguaje hablas</label>
                <input type="text" name="lang" class="form-control" #lang="ngModel" [(ngModel)]="topic.lang" required>
                <small *ngIf="!lang.valid && lang.touched"  class="invalid-feedback d-block">
                        El lenguaje no es válido
                </small>
            </div>

            <input type="submit" value="Crear" class="btn btn-success" [disabled]="addTopic.invalid">

        </form>
</div>
