<div class="container mt-1">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">NG FORO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" >

      <!-- MENU NAVEGACIÓN PÁGINAS -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Inicio <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/temas']">Temas</a>
        </li>

        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0" #searchForm="ngForm">
            <input type="search" name="busqueda" #busqueda="ngModel" [(ngModel)]="search" class="form-control mr-sm-2" aria-label="Search" placeholder="¿Qué estás buascando?">
            <button type="submit" (click)="goSearch()" class="btn btn-outline-success my-2 my-sm-0">Buscar</button>
          </form>
        </li>

      </ul>

      <!-- MENU LOGIN Y REGISTRO -->
      <ul class="navbar-nav navbar-right" *ngIf='!identity'>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registrate</a>
        </li>
      </ul>

      <!-- MENU DESPLEGABLE PERFIL LOGEADO -->
      <ul class="navbar-nav navbar-right" *ngIf='identity && identity.name'>

        <li class="nav-item">
          <div class="avatar_mask" *ngIf = 'identity && identity.image'>
            <img src="{{url + 'avatar/' + identity.image }}" class="avatar_nav"/>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{identity.name}} {{identity.surname}}
          </a>
        
          <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/panel']">Panel de usuario</a>
              <a class="dropdown-item" [routerLink]="['/usuarios']">Usuarios</a>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item pointer" (click)="logout()">Salir</a>
          </div>
        </li>
      </ul>
      

    </div>
  </nav>
  
  <router-outlet></router-outlet>
  
</div>

