<div class="container mt-3">

    <h1>{{page_title}}</h1>
    <p *ngIf="status != 'success'">Crea un nuevo post para el blog</p>

    <!-- ALERTAS FORMULARIO -->
    <div class="alert alert-success" *ngIf="status == 'success'">
        El post se ha creado correctamente.
    </div>
    <div class="alert alert-danger" *ngIf="status == 'error'">
        El post no se ha guardado.
    </div>

    <!-- FORMULARIO -->
    <form class="col-md-6" #postNew="ngForm" (ngSubmit)="onSubmit(postNew)">

        <div class="form-group">
            <label for="name">Título</label>
            <input type="text" name="title" class="form-control" #title="ngModel" [(ngModel)]="post.title" required>
            <small *ngIf="!title.valid && title.touched"  class="invalid-feedback d-block">
                El título no es válido
            </small>
        </div> 
        
        <div class="form-group">
            <label for="content">Contenido</label>
            <textarea name="content" class="form-control" #content="ngModel" [(ngModel)]="post.content" required></textarea>
            <small *ngIf="!content.valid && content.touched"  class="invalid-feedback d-block">
                El contenido no es válido
            </small>
        </div>   

        <div class="form-group">
            <label for="category_id">Categoría</label>
            <select name="category_id" class="form-control" #category="ngModel" [(ngModel)]="post.category_id">
                <option *ngFor='let category of categories' value="{{category.id}}">
                    {{category.name}}
                </option>
            </select>
        </div>  

        <div class="form-group">
            <label for="image">Imagen</label>

            
            
            <angular-file-uploader
                [config]="afuConfig"
                [resetUpload]=resetVar
                (ApiResponse)="imageUpload($event)">
            </angular-file-uploader>
        </div>

        <input type="submit" value="Guardar" class="btn btn-success" [disabled]="postNew.invalid">

    </form> 

</div>