<div class="container mt-1">
    <h1>{{page_title}}</h1>
        <ul class="list-group list-users">
                <li class="list-group-item" *ngFor= "let user of users">

                    <div class="avatar_mask float-left mr-3" *ngIf = 'user.image'>
                        <img src="{{url + 'avatar/' + user.image }}" class="avatar_nav"/>
                    </div>
                    <div class="avatar_mask float-left mr-3" *ngIf = '!user.image'>
                            <img src="assets/img/img-perfil.png" class="avatar_nav"/>
                    </div>

                    <div class="float-left">
                        <h5>{{user.name + " " + user.surname}}</h5>
                        <a class="btn btn-sm btn-success " [routerLink]="['/perfil', user._id]">Ver perfil</a>
                    </div>
                    
                
                </li>
        </ul>
    
</div>
    