<div class="col-lg-12 topix-box mt-3" *ngIf='topic'>
    
    <div class="col-lg-7 topic-data float-left">

        <h1>{{topic.title}}</h1>
        <span class="badge badge-warning mr-2">{{topic.lang}}</span>
        <span class="badge badge-primary">{{topic.user.name +" " + topic.user.surname}}</span>
        <span class="badge badge-light mr-2">{{topic.date | amLocale: 'es' | amTimeAgo}}</span>

        <p id="topic-content" class="mt-4">{{topic.content}}</p>
        <p id="topic-code" class="mt-2" *ngIf="topic.code && topic.lang">
            <ngx-highlight-js lang="bash" [code]="topic.code"></ngx-highlight-js>
        </p>

        <div id="comment-box">
            <h3>Comentarios</h3>
            <hr>

            <div class="alert alert-success" *ngIf="status == 'success'">
                El comentario se ha agregado exitosamente.
            </div>
            <div class="alert alert-danger" *ngIf="status == 'error'">
                El comentario no se ha completado, vuelve a intentarlo.
            </div>

            <form #formComment="ngForm" (ngSubmit)="onSubmit(formComment)" *ngIf="identity">


                <div class="form-group">
                        <label for="content">Pon tu comentario</label>
                        <textarea name="content" class="form-control" #content="ngModel" [(ngModel)]="comment.content" required></textarea>
                        <small *ngIf="!content.valid && content.touched"  class="invalid-feedback d-block">
                            El comentario no es válido
                        </small>
                    </div>

                <input type="submit" value="Comentar" class="btn btn-success" [disabled]="formComment.invalid"/>
            </form>

            <hr>

            <ul class="list-group list-comments mb-5">
                <li class="list-group-item comment-item" *ngFor="let comment of topic.comments">
                    <div class="avatar_mask float-left mr-3" *ngIf = 'identity && identity.image'>
                        <img src="{{url + 'avatar/' + comment.user.image }}" class="avatar_nav"/>
                    </div>

                    <span class="badge badge-primary">{{comment.user.name +" " + comment.user.surname}}</span>
                    <span class="badge badge-light mr-2">{{comment.date | amLocale: 'es' | amTimeAgo}}</span>
                    <div class="d-block"></div>
                    {{comment.content}}

                    <button (click)="deleteComment(comment._id)" class="btn btn-danger btn-sm float-right" *ngIf="identity._id == comment.user._id">Eliminar</button>
                </li>
                
            </ul>

        </div>
        

    </div>

</div>