<div class="col-lg-12 mt-3" *ngIf="!user || !topics">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="col-lg-12 mt-3" *ngIf="user && topics">

    <div class="avatar_mask float-left mr-3" *ngIf = 'user.image'>
        <img src="{{url + 'avatar/' + user.image }}" class="avatar_nav"/>
    </div>
    <div class="avatar_mask float-left mr-3" *ngIf = '!user.image'>
        <img src="assets/img/img-perfil.png" class="avatar_nav"/>
    </div>
    <h3>{{user.name + " " +user.surname}}</h3>

    <ul class="list-group list-topics mt-5">
            <li class="list-group-item" *ngFor= "let topic of topics">
                <h4><a [routerLink]="['/tema', topic._id]">{{topic.title}}</a></h4>
                <span class="badge badge-light">{{topic.date | amLocale: 'es' | amTimeAgo}}</span>
                <a class="btn btn-sm btn-success float-right mx-auto d-block" [routerLink]="['/tema', topic._id]">Leer</a>
            </li>
    </ul>

</div>
